/**
 * 一列定宽+一列自适应的布局解决方案
 */

/* 方案一  flaot + margin */
.r1-fm-p
{
    clear: both;

    width: 100%;
    height: 200px;

    background-color: brown;
}
.r1-fm-left
{
    float: left;

    width: 400px;
    height: 200px;      /*  可以给left元素加margin-right：460px解决IE6下三像素的bug */

    background-color: #666; /* 本解决方案在IE6下面有兼容性的问题，左边浮动，右边不浮动，那么在右浮动的div中包裹的p元素中的文字会向右偏移3像素，而且如果给p元素清除浮动，那么整个有浮动的div会掉到左浮动的div的下面，在低版本的浏览器中可以选择第二种解决方案 */
}
.r1-fm-right
{
    height: 200px;
    margin-left: 460px;

    background-color: #999;
}


/*  方案二  方案一的兼容版本  */
.r2-fm-p
{
    clear: both;

    width: 100%;
    height: 200px;

    background-color: red;
}
.r2-fm-left
{
    position: relative; /*   提高左边浮动div的层级，使其覆盖在右浮动div的上面 */

    float: left;

    width: 400px;
    height: 200px;

    background-color: green;
}
.r2-fm-right-wrapper
{
    /*    margin-left  负值的用法  */
    float: right;

    width: 100%;
    height: 200px;
    margin-left: -400px;

    background-color: pink;
}
.r2-fm-right
{
    margin-left: 460px;
}


/**
 * 方案三  float + overflow:hidden  
 */

.r3-fm-p {
	width:100%;
	height:200px;
	background-color:gray;
}
.r3-fm-left {
	width:400px;
	float:left;
	height:200px;
	background-color:blue;
	margin-right:60px;
}
.r3-fm-right {
	overflow:hidden;
	background-color:#009d96;
	height:200px;
}

/**
 * 方案四 display：table + display：table-cell
 */
 .r4-fm-p {
 	width:100%;
 	height:200px;
 	display:table;
 	background-color:green;
 }
 .r4-fm-left, .r4-fm-right {
 	display:table-cell;
 	height:200px;
 } 
 .r4-fm-left {
 	width:400px;
 	background-color:#ea544a;
 }
 .r4-fm-right-wrapper {
 	height:200px;
 }
 .r4-fm-right {
 	height:200px;
 	background-color:orange;
 	padding-left:60px;
 	background-clip:content-box;   /*   display table-cell 属性不支持margin，所以用padding，设置background-clip：conten-box，可以让背景色只覆盖内容部分 */
 	-webkit-background-clip:content-box;
 }

 /**
  * 方案五  display:flex;
  */
 .r5-fm-p {
 	display:flex;
 	width:100%;
 	height:200px;
 	background-color:#999;
 }
 .r5-fm-left {
 	width:400px;
 	margin-right:60px;
 	background-color:#e34528;
 }
 .r5-fm-right {
 	-webkit-flex:1;
 	flex:1;
 	background-color:red;
 }


/**
 *  等分布局的实现方式
 */
/*  方案一   float  */
.r6-fm-p {
	width:100%;
	height:200px;
	background-color:blue;
	margin-left:-20px;
	clear:both;
}
.r6-fm-p .column {
	float:left;
	width:25%;
	height:200px;
	padding-left:20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-background-clip:content-box;
	background-clip:content-box;
	background-color:red;
}
/*	方案二  display：flex  */
.r7-fm-p {
	display:flex;
	display:-webkit-flex;
	width:100%;
	height:200px;
	background-color:black;
}
.r7-column {
	flex:1;
	-webkit-flex:1;
	background-color:orange;
}
.r7-column + .r7-column {   /* 兄弟节点选择器  */
	margin-left:20px;
}
